body{
    position: relative;
    left: 0%;
    top: 0%;
    background-color: yellow;
    width: 96vw;
}

header{
    text-align: center;
    position: absolute;
    top: 0vh;
    left: 0vh;
    width: 95vw;
    height: 20vh;
    box-sizing: border-box;
    border: dashed 0.5vw brown;
    border-radius: 1vh;
    margin: 0px;

}
#galery{
    position: absolute;
    top: 21vh;
    width: 95vw;
    box-sizing: border-box;
    border: dashed 0.5vw brown;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
figure{
    margin: 0px;
    max-width: 40vw;
}
.box{
    box-sizing: border-box;
    width: 40vw;
    margin: 0px;
    padding: 0;
    margin-top: 1vh;
    border: dashed 0.5vw brown;
    border-radius: 1vh;
}
