body{
    position: relative;
    left: 0%;
    top: 0%;
    background-color: yellow;
    width: 96vw;
}
header{
    text-align: center;
    position: absolute;
    top: 0vh;
    left: 0vh;
    width: 30vw;
    height: 60vh;
    box-sizing: border-box;
    border: dashed 0.5vw brown;
    border-radius: 1vh;
    margin: 0px;

}
#galery{
    position: absolute;
    top: 0vh;
    left: 31vw;
    width: 65vw;
    box-sizing: border-box;
    border: dashed 0.5vw brown;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure{
    margin: 0px;
}
.box{
    box-sizing: border-box;
    max-width: 150px;
    margin: 0px;
    padding: 0;
    margin-top: 1vh;
    border: dashed 0.5vw brown;
    border-radius: 1vh;
}
